@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    display: flex;
}
a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    background: yellow;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    width: fit-content;
    transition-duration: .9s;
}
a:hover {
    background: black;
    color: yellow;
    box-shadow: 2px 2px 7px white;
}
img {
    height: 100px;
    width: 100px;
    margin: 10px;
    margin-left: 30px;
}
.nav-bar {
    display: flex;
    background: black;
    position: fixed;
    width: 100vw;
    z-index: 343;
    opacity: 0.85;
    top: 0;
}
.right-nav {
    height: 50px;
    margin-top: 35px;
    margin-left: 650px;
}
.body {
    background: white;
    height: 600px;
    position: relative;
    padding-top: 100px;
    
}
.main {
    display: flex;
    height: 400px;
    width: 90%;
    margin: auto;
    background: black;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px;
}
.logo {
    margin: auto;
}
.main .logo img{
    width: 130%;
    height: 130%;
    margin: auto;
    outline: 1px solid;
    display: inline-block;
    box-shadow: 0 0 5px;
}
.info {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: -50px;
    margin-left: 10px;
    left: 50px;
    top: 10px;
}
.info p {
    font-size: 24px;
    font-family: sans-serif;
    width: 90%;
}
.Courses {
    display: inline-block;
    top: 150px;
    width: 100%;
    margin: auto;
    height: 80%;
}

body {
    margin-top: 125px;
    background: white;
}

.Courses{
    padding: 1em;
}

.after10 {
    padding: 20px;
    background: url('./Resources/10th.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    display: inline-block;
    width: 48%;
    height: 800px;
    border-radius: 5px;
    p {
        color: crimson;
        font-size: 70px;
        font-family: sans-serif;
    }
}
.Courses .after10:nth-child(2)
{
    background: url('./Resources/12th.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Courses * {
    text-align: center;
    font-size: 40px;
}
.after10:hover {
    cursor: pointer;
    box-shadow: 0 0 10px black;
}
.main {
    background: lightblue;
    padding: 40px;
}
.general {
    margin: 1em;
    background-color: yellow;
    padding: 1em;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
.study {
    background-image: url('../Resources/student-study-stress-img-1600x900.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
    width: 100%;
    //text-align: center;
    padding-top: 12%;
    padding-left: 12%;
}
.study h1 {
    font-family: Niconne;
    font-size: 100px;
}
.study span {
    color: red;
}
// .study p {
//     display: inline-block;
//     height: auto;
//     width: 100%;
// }
.main_body{
    padding: 5px;
}
.main_body .general p{
    line-height: 40px;

}
// .accordion {
//     background-color: lightblue;
//     cursor: pointer;
//     padding: 1%;
//     width: 99%;
//     transition: 0.4s;
// }

// .active, .accordion:hover {
//     background-color: rgb(0, 140, 255);
//     color: black;
// }

// .panel {
//     padding: 0 10px;
//     margin: 5px;
//     display: none;
//     overflow: hidden;
// }


.cards{
    padding: 1%;
}
.card{
    display: inline-block;
    background-color: rgba(87, 84, 84, .4);
    width:45%;
    margin: 2%;
    border-radius: 10px;
}
.image img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
    margin: 0;
}
.heading{
    padding: 2%;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.desc{
    padding: 4% 2%;
    font-size: 20px;
    font-family: sans-serif;
}
.footer {
    display: flex;
}
.courses, .intern, .competition {
    box-shadow: 0 0 10px;
    margin: 2%;
    text-align: center;
    border-radius: 20px;
    height: fit-content;
}
.footer img {
    height: 75%;
    width: 75%;
}
.footer p {
    font-family: Shadows Into Light;
    font-size: 40px;
}
.main-body img {
    width: 100%;
    height: auto;
    opacity: .85;
    margin: 0;
}
.main-body {
    margin-bottom: 80px;
}
.main-body h2 , .main-body p, .main-body h4{
    font-family: sans-serif;
}
.content_img {
    display: flex;
    background-color: rgb(217, 235, 247);
    margin: 50px 20px 50px 20px;
    padding: 40px;
    border-radius: 30px;

}
.content_img img{
    height: 300px;
    width: 400px;
    position: relative;
    top: 300px;
    margin-right: 20px;
}
.left {
    margin: 20px 30px auto 30px;
    border-radius: 10px;
}
.content_img * {
    font-size: 20px;
    
}
.right img:nth-child(2) {
    position: relative;
    top: 800px;
}
.right1 img:nth-child(2) {
    position: relative;
    top: 600px;
}
