#h1 {
    font-family: 'Caveat', cursive;
    justify-content: center;
    text-align: center;
    align-content: center;
    display: flex;
}

#p1 {
    font-family: 'Open Sans', sans-serif;
    justify-content: left;
    text-align: left;
    align-content: left;
    display: flex;
    font-size: smaller;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    /*color: #7e3af2;*/
}

body {
    background-image: url('pexels-scott-webb-532563.jpg');
}


/*
#d1 {
    justify-content: center;
    align-content: center;
}*/